.button{
    color:white;
    background-color:#000000;
    font-size:20px;
    padding:10px 40px;
    border-radius:10px;
    box-shadow:
        0 6px 0 #555,
        0 10px 15px rgba(0,0,0,0.4);

    transition: all 0.15s ease;
}
.button:hover{
    background-color:#ffffff;
    cursor:pointer;
    color:#000000
}
.button:active {
    transform: translateY(6px);
    box-shadow:
        0 2px 0 #555,
        0 4px 8px rgba(0,0,0,0.4);
}

.information {
    width: 20%;

    padding: 10px 12px;
    font-size: 14px;

    border: 3px solid #ccc;
    border-radius: 6px;
    outline: none;

    transition: 0.2s ease;
    margin: 0 40%;
    text-align: center;
}

.information:focus {
    background: #ffffff;
    border-color: #3b82f6;

    box-shadow: 0 6px 20px rgba(59, 130, 246, 0.2);
}
.information h1{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}